# Terraform
.terraform/

# Generated artifacts
config-map-aws-auth*
kubeconfig*

# System/IDE files
.DS_Store
.idea

# Dependencies
node_modules

# Generated code
bin
dist/
.vscode/
app/build/
server/public/
public/
!app/public
data/

# VSCode History plugins
.history

# Databse and source code ZIPs
*.sqlite*
ascvd.zip